*__pycache__*
codes
.env
te.py
src
informe.*
problems.md
.cph-ng
**.log
**.aux
**.tex
docs
.venv
.vscode
.todo
.clean
.gitignore
out.txt
tests/
informes/
.github/
.pytest_cache/
venv/
interpreter_extreme_tests.py
rb.cpp
old_html
old_gui
guic/
node_modules/
build/
dist/
*.egg-info/
*.egg
*.log
*.aux
*.tex
*.out
*.pdf