@font-face {
    font-family: "google-sans";
    src: url("/gui/lib/google-sans.ttf");
}


*{
    font-family: "google-sans";
}

button{
    cursor: pointer;
}
.saves{
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
    font-size: large;
    background: #52339c3b;
    scrollbar-base-color: transparent;
}
.saves::-webkit-scrollbar{
    display: none;
}

.CodeMirror.cm-s-dracula{
    padding-top: 20px;
    height: 100%;
}