button {
    cursor: pointer;
}

*::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: "Google Sans";
    src: url('./lib/google-sans.ttf'); 
}

.CodeMirror.cm-s-dracula {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.font-google {
    font-family: "Google Sans";
}

.saves {
    cursor: pointer;
    border-radius: 9999px;
    color: rgb(255, 255, 255, .5);
    background: rgb(0, 0, 0, .25);
    font-family: "Google Sans";
    height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.editor_active {
    background: rgb(139, 92, 246);
    color: rgb(0, 0, 0, .75);
}

.font-monospace {
    font-family: monospace;
}